<!doctype html>
<html lang="en">
    <head>
        <title>{% block title %}Title{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
        {{ "style.css" | asset_url | stylesheet_tag }}
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <!-- Style block allowing child pages to inject their own styles -->
        {% block styles %}{% endblock %}
    </head>
    <body>
        <div id="wrapper" class="container">
            {% block content %}{% endblock %}
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        {{ "scripts.js" | asset_url | script_tag }}
        {% block scripts %}{% endblock %}
        {% include "ga" %}
    </body>
</html>
