{% block content %}
  <div class="container">
    

    <h1><span>Hello there!!</span><span>I am Sandeep Gajula, an Interaction Designer and a sailor at heart.</h1>
    <h2>To tell you a little bit about me, I am an interaction designer. Currently living in Cesena, Italy. </h2>
  <div>

{% endblock %}
